<nav>
  <h1>A great car will take you places</h1>
  <a href="/"><button style="color: rgb(15, 157, 208)">Home</button></a>
  <% if (status != null && status != "Incorrect user name was entered." && status != "Incorrect password was entered." && status != "Username already exists, please try another." && status != "New account created, please login." && status != "Not enough form fields completed." && status != "Successfully logged out of search.") { %>
  <a href="/about"><button style="color: rgb(15, 157, 208)">About</button></a>
  <a href="/cars"><button style="color: rgb(15, 157, 208)">Cars</button></a>
  <a href="/auth/exit"><button style="color: rgb(15, 157, 208)">Logout</button></a>

    <% } %>
    <% console.log(status)%>
  </nav><hr/>
</nav>
