<nav>
  <h1>A great car will take you places</h1>
  <a href="/"><button style="color: rgb(15, 157, 208)">Home</button></a>
  <a href="/about"><button style="color: rgb(15, 157, 208)">About</button></a>
  </nav><hr/>
</nav>
