<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="cars content">
            <form action="/cars" method="POST">
                <label>Keywords:
                    <input type="text" id="keywords" name="keywords" required>
                    <button>SEARCH</button> 
                    <span>Postgres<input type="checkbox" name="pgCheck" id="pgCheck" ></span>
                    <span>MongoDB<input type="checkbox" name="monCheck" id="monCheck" ></span>
                </label>
                
            
                
        </form>
        </div>
        <%- include('./partials/status.ejs') %> 
    </hr>  
    </body>
    
  
    
    <%- include('./partials/footer.ejs') %>
</html>